/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-code-font-size: 95%;
  --ifm-footer-background-color: #232731;
  --ifm-footer-color: #303846;
  --ifm-footer-link-color: #303846;
}

.footer,
.footer--dark {
  background-color: #232731;
}

@media (min-width: 996px) {
  .footer__links .row {
    justify-content: flex-start;
  }

  .footer__links .col:last-child {
    margin-left: auto;
    text-align: right;
  }

  .footer__links .col:last-child .footer__items {
    align-items: flex-end;
  }
}
